<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Click the button to get your coordinates.</p>
    <button onclick="getLocation()" style="border: solid">Try It</button>
    <p id="demo"></p>
    <ul id="list" style="border:solid ;height:200px"></ul>
    <div id="location_button"></div>
    <input type="mail" placeholder="Enter your Email" id="provider_id">
    <script src="location_script.js"></script>
</body>
</html>